<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Google Drive File Browser</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
          <a class="navbar-brand" href="#">Google Drive File Browser</a>
          <ul class="navbar-nav mr-auto"></ul>
          <span class="navbar-text mr-2">

            <script>
              function getIP(json) {
                document.write("Not currently logged in: " + json.ip);
              }
            </script>
            <script src="http://api.ipify.org?format=jsonp&callback=getIP"></script>

          </span>
          <a href="/google/login" class="btn btn-primary" role="button" aria-pressed="true">Login</a>
      </div>
    </nav>
  </body>
</html>